@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/material_icons/MaterialIcons-Regular.eot'); 
  src: url('../fonts/material_icons/MaterialIcons-Regular.woff2') format('woff2'),
       url('../fonts/material_icons/MaterialIcons-Regular.woff') format('woff'),
       url('../fonts/material_icons/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Konsens';
  src: url('../fonts/Konsens/KonsensRegular.ttf')  format('truetype');
       
}

html,
body{
	margin: 0px;
	height: auto;
	font-family: "raleway";
}

.mdc-toolbar{
	background-color: rgba(33, 39, 57, 1);
	padding: 15px;
}

.mdc-toolbar__title{
	font-family: "raleway";
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 1em;
}

a{
    color: #fff;
}

p,
li{
	font-size: 26px;
}

.ui-state-hover,
.ui-state-focus{
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

a:hover{
	color: #ffa21a;
	text-decoration: none;
}

section{
	padding-top: 35px;
	padding-bottom: 35px;
}

hr{
 	width: 16%;
 	border: solid 2px #ffa21a;
 	margin: 20px auto; 	
}

.ui-progressbar{
	border-radius: 0;
}

.layout{
	width: 100%;
}

.layout-wrapper{
	padding: 15px 0px;
}

.graficosPartidos h1{
	font-size: 2em;
	margin-top: 0;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

.objetivo{
	background-color: rgba(33, 39, 57, 1);
}


.introducao{
	width: 50%;
	display: block;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

.buscar{
	width: 60%;
	display: block;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

.introducao img{
	margin: 0 auto;
}

.introducao p{
	text-align: justify;
}

.buscar .filtros{
	padding-bottom: 15px;
}

.btnBuscar{
	background-image: none;
	background: transparent;
	margin-right: 0;
	padding: 15px;
	font-size: 1.2em;
	width: 50%;
	transition: all 0.1s ease-in;
}
button.btnBuscar.ativo{
	color: #fff;
	background-color: #832566;
	outline:none;
}
div.partidos{
	width: 90%;
}
div.partidos .ui-selectonemenu-label{
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 2em !important;
}

div.partidos .ui-selectonemenu-trigger{
	width: 50px;
	text-align:center;
	background: transparent;
	border: none;
}

div.partidos .ui-selectonemenu-trigger span{
	margin: 6px auto 0 20px;
	margin-top: 20px !important;
}

.btnLupa{
	background: none;
	position: absolute;
	margin: 6px 6px 6px -6px;
	font-size: 1.8em;
}

.card{
	color:#000;
	text-align: left;
	font-size: 22px;
	padding: 0px 15px 15px 15px;
	
	 box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border: 0 none;
    border-radius: 3px;
}

.card .material-icons{
	font-size: 48px;
}

.card img{
	margin: 25px auto;
}

.card div.col-md-12{
	border-bottom: solid 1px #832566;
	padding: 15px;
}