*{
	padding-top: 0;
	padding-bottom: 0;
	max-width: 100%;
	scroll-behavior: smooth;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/material_icons/MaterialIcons-Regular.eot'); 
  src: url('../fonts/material_icons/MaterialIcons-Regular.woff2') format('woff2'),
       url('../fonts/material_icons/MaterialIcons-Regular.woff') format('woff'),
       url('../fonts/material_icons/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Konsens';
  src: url('../fonts/Konsens/KonsensRegular.ttf')  format('truetype');
       
}

html,
body{
	margin: 0px;
	height: auto;
	font-family: "raleway";
}

.mdc-toolbar{
	background-color: rgba(33, 39, 57, 1);
	padding: 15px;
	position: sticky;
    top: 0;
    z-index: 3;
}

.mdc-toolbar__title{
	font-family: "raleway";
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 1em;
	margin-top: 16px
}

a{
    color: #fff;
}

p,
li{
	font-size: 26px;
}

input{
	background: none !important;
	padding: 15px !important;
}

.ui-state-hover,
.ui-state-focus,
.ui-inputfield,
.ui-shadow{
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

a:hover{
	color: #5CFFA4;
	text-decoration: none;
}

section{
	padding-top: 35px;
	padding-bottom: 35px;
}

hr{
 	width: 16%;
 	border: solid 2px #5CFFA4;
 	margin: 20px auto; 	
}

.ui-progressbar{
	border-radius: 0;
}

.layout{
	width: 100%;
}

.graficosPartidos h1{
	font-size: 2em;
	margin-top: 0;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

.objetivo{
	background-color: rgba(33, 39, 57, 1);
}


.introducao,
.rodape{
	width: 50%;
	display: block;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

.buscar{
	width: 60%;
	display: block;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

.introducao img{
	margin: 0 auto;
}

.introducao p{
	text-align: center;
}

.buscar .filtros{
	padding-bottom: 15px;
}

.btnBuscar{
	background-image: none;
	background: transparent;
	margin-right: 0;
	padding: 15px;
	color: #000;
	font-size: 1.6em;
	width: 50%;
	transition: all 0.1s ease-in;
	box-shadow: 0 1px #999;
}
button.btnBuscar.ativo{
	background-color: #5cffa4;
	outline:none;
	box-shadow: none;
	transform: translateY(1px);
}
div.partidos{
	width: 90%;
}

.ui-selectonemenu{
	padding-top: 12px;
}

.ui-selectonemenu .ui-selectonemenu-label{
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 2em !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger{
	width: 50px;
	text-align:center;
	background: transparent;
	border: none;
}

.ui-selectonemenu-panel .ui-state-highlight{
	background: none !important;
	color: #36af0e;
	text-shadow: none;
}

.ui-selectonemenu-panel .ui-state-hover{
	background: none !important;
}


.ui-selectonemenu .ui-selectonemenu-trigger span{
	margin: 6px auto 0 20px;
	margin-top: 15px !important;
}

.btnLupa{
    color: #000;
}

.btnLupa i{
	border: solid 1px #a8a8a8;
	padding: 13px 20px;
}

.btnLupa i:hover,
.btnLupa:hover{
	color: #5CFFA4;
	border-color: #5CFFA4; 
}

.card{
	color:#000;
	text-align: left;
	font-size: 22px;
	padding: 0px 15px 15px 15px;
	
	 box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border: 0 none;
    border-radius: 3px;
}

.card .material-icons{
	font-size: 48px;
}

.card img{
	margin: 25px auto;
}

.card div.col-md-12{
	border-bottom: solid 1px #a8a8a8;
	padding: 15px;
}

.contato{
	background-color:rgba(33, 39, 57, 1);
	text-align: center;
	color: #fff;
}

.contato p{
	font-size: 20px;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.rodape .col-md-4 hr{
	width: 20%;
 	border: solid 1px #5CFFA4;
 	margin: 20px auto;
}
 	
.rodape .col-md-4 .hrBaixo{
	opacity: 0;
}

.rodape .col-md-4:hover .hrCima{
	display: none;
}

.rodape .col-md-4:hover .hrBaixo{
	width: 100%;
 	border: solid 1px #5CFFA4;
 	margin: 20px auto;
 	animation-name: fadeInDown;
 	animation-duration: 1s;
 	animation-delay: 0.2s;
 	animation-fill-mode: both;
 	opacity: 1;
}

.filtrosGrafico{
	width: 50%;
	display: block;
	margin: 0 auto;
}

 .ui-selectonemenu{
	border: solid 1px #a7a4a4;
}

div.card.servidor .material-icons{
	font-size: 40px;
	margin-top: 2px;
	
}

.servidor .ui-outputlabel{
	font-weight: normal;
}

.ui-progressbar-value{
	background:none !important;
	border-radius: 0 !important;
	border: none !important;
	background-color: #5CFFA4 !important;
	margin: 0 !important;
}

.excedeu .ui-progressbar-value{
	background-color: #ff5c5c !important;
} 
